/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
xaddress,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  \ground: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}

/* Mixins =================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
/* Page =================================================== */
html {
  background: transparent;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;  
}
body {
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: Georgia, Times, "Times New Roman";
  font-size: 16px;
  line-height: 21px;
  color: #00265b;  
}

#container {
  max-width: 768px;
  height: 949px; /* 1024 - 55 - 20 */
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;  
  background: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in 0s;
}

.ready #container {
	opacity: 1;
}

#container[data-page="landing"]{
	color: #fff;
	background: url(ff-watermark.png) no-repeat 400px 30px;
	background: url(ff-watermark.png) no-repeat 400px 30px, -webkit-gradient(linear, left top, right bottom, color-stop(0%,#006697), color-stop(26%,#006697), color-stop(100%,#002d5b));
}

#container[data-page="popup"]{
  height: 1004px; /* 1024 - 20 */ 
  background: #ffffff;
  opacity: 1;
}

#container[data-page="sync"]{
  height: 1004px; /* 1024 - 20 */ 
	background: url(ff-watermark.png) no-repeat 400px 85px #003768;
  opacity: 1;
}

.tabsection {
	width: 100%;
}

.content {
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
}

#list-content {
	padding-bottom: 70px;
	margin-bottom: 30px;
	background:url(icon-loading.gif) no-repeat bottom center transparent;
	background-size: 32px 25px;
}

#list-content.loaded {
	padding-bottom: 0;
	margin-bottom: 0;
	background:transparent;
}



/* nav ======================================================= */

.nav-disc {
	list-style: none;
	padding-left: 0px;
}

.nav-disc li {
	display: inline;
	font-size: 26px;
	margin-right: 70px;
}

.nav-disc li a {
	background-image: url(icon-arrow-home.png);
	background-position: top right;
	background-size: 35px 70px;
	background-repeat: no-repeat;
	padding: 2px 45px 3px 0;
}

.nav-disc li a:focus, .nav-disc li a:active {
	background-position: bottom right;
}

.nav-disc li:last-child {
	margin-right: 0;
}

/* Page ======================================================= */

.nav-section {
   border-top: 1px solid rgba(255,255,255,0.5);
	padding: 24px 0 24px 100px;
	background-position: 10px center;
	background-repeat: no-repeat;
	color: #bcd5d6;
	padding-right: 30px;
	position: relative;
}

.nav-section strong {color:#fff;}

.nav-section[data-section="clients"] {
	background-image: url(home-clients.png);
	background-size: 50px 46px;
}

.nav-section[data-section="conversations"] {
	background-image: url(home-conversations.png);
	background-size: 50px 52px;
}

.nav-section[data-section="news"] {
	background-image: url(home-news.png);
	background-size: 50px 51px;
}

.nav-section[data-section="sectors"] {
	background-image: url(home-sectors.png);
	background-size: 50px 50px;
}

.nav-section[data-section="services"] {
	background-image: url(home-services.png);
	background-size: 50px 50px;
}

.nav-section[data-section="markets"] {
	background-image: url(home-markets.png);
	background-size: 50px 50px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.home-arrow {
	float: right;
	display: block;
	height: 40px;
	width: 16px;
	background-image: url(home-arrow.png);
	background-position: right;
	background-size: 32px 40px;
	position: absolute;
	right: 0;
	margin-top: -40px;
}

.nav-section:active .home-arrow, .nav-section:focus .home-arrow {
	background-position-x: 33px;
}

.top-bar {
	border-bottom: 1px solid #c6dfe9;
	padding: 0 8px 7px 8px;
	margin-top: 15px;
}

.top-bar a.back {
	float:left;
	display: block;
	height: 23px;
	width:auto;
	padding: 0 0 0 17px;
	margin-top: 12px;
	background-image: url(icon-back.png);
	background-repeat: no-repeat;
	background-size: 11px 46px;
	font-size: 12px; line-height: 27px;
	color: #c6dfe9;
	font-family: Helvetica;
}

.top-bar a.back:active, .top-bar a.back:focus {
	background-position-y: -23px;
	color: #f8a541;
}

.top-bar a.mini-menu-link {
	float:left;
	display: block;
	height: 28px;
	width:32px;
	padding: 0 0 0 30px;
	margin-top: 4px;
	background-image: url(link-mini-menu.png);
	background-repeat: no-repeat;
	background-size: 32px;
	font-size: 12px; 
	color: #c6dfe9;
	display: block;
	font-family: Helvetica;
}

.top-bar a.mini-menu-link:active, .top-bar a.mini-menu-link:focus, .top-bar .on  {
	background-position-y: -28px;
}

.top-bar .mini-menu {
	display: block; 
	z-index: 10;
	position: absolute;
	margin-top: 40px;
	width:205px;
}

.top-bar .mini-menu .arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #003768;
	z-index: 999;
}

.top-bar .mini-menu .mini-head {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	background-color: #003768;
	text-align: center;
	color: #fff;
	margin: -15px 0 0 -15px;
	padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.top-bar .mini-menu .mini-bottom {
	background-color: #eff5fa;
	-webkit-border-radius: 8px;
	padding: 15px 0 0 15px;
	margin-left: -40px;	
	width:230px;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.54);
}
.top-bar .mini-menu .mini-bottom ul {
	max-height: 265px;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	}

.top-bar .mini-menu .mini-bottom li {
	list-style: none;
	border-bottom: 1px solid #c3dde8;
	padding: 8px 0 8px 0;
	margin-right: 15px;
}

.top-bar .mini-menu .mini-bottom li:last-child {border-bottom: 0px;}


.top-bar a.favourites {
	float: right;
	display: block;
	height: 34px;
	width: 27px;
	background-image: url(icon-favorites.png);
	background-repeat: no-repeat;
	background-size: 27px 68px;
}

.top-bar a.favourites:focus, .top-bar a.favourites:active {
	background-position-y: -34px;
}



.top-bar a.email {
	float: right;
	display: block;
	height: 34px;
	width: 34px;
	margin-right: 30px;
	background-image: url(icon-email.png);
	background-size: 34px 68px;
}

.top-bar a.email:focus, .top-bar a.email:active {
	background-position-y: -33px;
}

/* layout ======================================================= */

.pg-body {
	overflow-y: scroll;
	height: 892px;
}

.split {
	position: relative;
	width: 50%;
	height: 317px;
	float: left;
	border-right:1px solid #bcd9e5;
	border-bottom:1px solid #bcd9e5;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}

.split a {
	display: block; 
	padding: 30px 30px 30px 30px;
	height: 257px;
}

.split a.trash {
	height: 33px; 
	width: 34px; 
	background-image: url(icon-trash.png); 
	background-size: contain; 
	position: absolute; 
	bottom: 20px; 
	right: 20px; 
	padding: 0px;
}

.split h3 {margin-bottom: 0px;}

.split .lead {margin-top: 10px;}

.split header span {
	height:20px; 
	display: inline-block; 
	margin-left:15px;
}

.split .date {
	font-size:10px; 
	color: #808184; 
	font-family: Helvetica; 
	line-height: 37.8 px;
}

#container[data-page="conversations-landing"] .split img {
	position: absolute; 
	top:0; left: 0; 
	min-height: 100%;
	z-index: 2;
}

#container[data-page="conversations-landing"] .split header {
	position: absolute; 
	top:0; left: 0; 
	color: #fff; 
	background-color: #bcd9e5;
	font-family: Helvetica; 
	font-weight: bold; 
	font-size: 12px; 
	line-height: 30px;
	height: 30px;
	padding: 0 15px 0 15px;
	z-index: 4;
}

#container[data-page="conversations-landing"] .split h3 {
	position: absolute; 
	top:0;
	width: 100%;
	background-color:rgba(255,255,255,0.5);
	padding: 50px 35px 60px 35px;
	margin-left: -30px;
	-webkit-box-sizing: border-box;
	z-index: 3;
	-webkit-transition: background-color 1s ease;
}

#container[data-page="conversations-landing"] .split a:active h3, #container[data-page="conversations-landing"] .split a:focus h3 {
	background-color:rgba(255,255,255,0.8);
}

#container[data-page="favourites"] .split header {
	font-size: 12px; 
	color:#808184; 
	font-family: Helvetica; 
	text-transform: uppercase;
}

#container[data-page="news-landing"] div:nth-child(even), 
#container[data-page="favourites"] div:nth-child(even), 
#container[data-page="conversations-landing"] div:nth-child(even) {
	border-right:0px;
}

#container[data-page="favourites"] div:nth-last-child(-n+2) {
	border-bottom: 0px;
}

#container[data-page="news-landing"] .split a {padding-top: 50px;}

#container[data-page="news-landing"] .split header {
	position: absolute; 
	top:0; left: 0; 
	color: #fff; 
	font-family: Helvetica; 
	font-weight: bold; 
	font-size: 12px; 
	line-height: 30px;
	height: 30px;
	padding: 0 15px 0 0;
}

.freshfields-banner {
	background-color: #063566;
}

.market-commentary {
	background-color: #f5b11a;
}

.competitor-news {
	background-color: #73af55;
}

.latest-publication {
	background-color: #9cc0d0;
}

.need-to-know {
	background-color: #dc5034;
}

.split header .icon {
	width: 20px; 
	height: 20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	float:left;	
	padding: 5px;
	border-right:1px solid #fff;
}

.freshfields-banner .icon {
	background-image: url(icon-freshfields.png);
}

.market-commentary .icon {
	background-image: url(icon-commentry.png);
}

.competitor-news .icon {
	background-image: url(icon-commentry.png);
}

.latest-publication .icon {
	background-image: url(icon-latest-publication.png);
}

.need-to-know .icon {
	background-image: url(icon-need-to-know.png);
}


#container[data-page="news-article"] {
	padding:0 55px 0 55px;
}


/* Tabs ======================================================= */

.tab-container .active {position: relative!important;}

div.tab {
	padding:20px 50px 0 50px;
	height: 869px;
	overflow-y: scroll;
}

.stabs {
	background: url(bg-tabs-top.png) #eff5fa repeat-x; 
	background-size: 6px 8px;
	height: 60px; 
	padding: 0px 4px 0 4px;
	margin: 0px!important;
}

.stabs li {
	display: block;
	float: left; 
	width: 145px; 
	height: 26px; 
	padding-top:8px;
	margin-top: 12px; 
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
}

.stabs li + li {
	border-left: 1px solid #bedae6;
}

.stabs li.active {
	background: url(bg-tab.png); 
	background-repeat: no-repeat;
	background-size: 150px 52px; 
	padding-top: 17px;
	width:150px;
	height: 35px;
	border-left: 0px!important;
	margin-top: 0px;
}

.stabs li.active + li {
	border-left:0px!important;
}

.stabs li.active a {
	color: #002055;
}

.stabs li a {
	color:#bedae6;
}

/* Experience tab */

.tab[data-tab="experience"] article {
	border-bottom: 2px;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #bddae5) ) 0 0 100% 0;
}

.tab[data-tab="experience"] article:last-child {border-bottom: 0px!important;}

.tab .article-img {
	float:left; width: 120px; margin-top: 25px; margin-bottom: 25px;
}

.tab .article-text {
	margin-left: 150px;
}

.tab[data-tab="experience"] article h1 {
	margin-bottom: 5px;
}

.tab[data-tab="experience"] article .date {
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.tab[data-tab="experience"] article p a {
	font-style: italic;
}

/* People */

.tab[data-tab="people"] .article-text  {
	margin-top: 25px;
	border-top:2px;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #00b4da) ) 100% 0 100% 0;
	padding-top: 8px;
}

.tab[data-tab="people"] .article-text  p {font-size: 14px; line-height: 18px;}
.tab[data-tab="people"] .article-text a.lighter {font-style: italic;}



.tab[data-tab="people"] h6.lighter {
	font-style: italic; font-weight: normal;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #d1e5ed) ) 100% 0 100% 0;
	border-bottom: 2px solid;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

/* resources */

.tab[data-tab="resources"] h1 {
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #5bcfe7) ) 100% 0 100% 0;
	border-bottom: 2px;
	padding-bottom: 14px;
	margin-bottom: 0px;
}

.tab[data-tab="resources"] article {
	width: 90%;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #d1e5ed) ) 100% 0 100% 0;
	border-bottom: 2px solid;
	margin-top: 25px;
}

.tab[data-tab="resources"] article .article-main {
	width: 75%;
	float: left;
}

.tab[data-tab="resources"] article .article-links {
	width: 20%;
	float: right;
	position: relative;
}

.link-arrow {
	display: inline-block; 
	width:40px; height: 40px;
	background: url(link-arrow.png) top;
	background-size: 40px 80px;
	margin-right: 18px;
	margin-top: 20px;
}

.link-square {
	display: inline-block; 
	width:40px; height: 35px;
	background: url(link-square.png) top;
	background-size: 40px 70px;
	margin-bottom: 2px;
	margin-top: 20px;
}

.link-arrow:active, .link-arrow:focus {background-position-y: -40px;}
.link-square:active, .link-square:focus {background-position-y: -35px;}

.link-square-pop {
	position:fixed; 
	width: 75px; 
	height: 60px; 
	background-color: #eff5fa; 
	padding:15px;
	 -webkit-border-radius: 8px; 
	 text-align: center;
	 margin-left: 120px;
	 margin-top: -70px;
}
 
.link-square-pop a:first-child {
	display: block; 
	border-bottom: #cee3ec 1px solid; 
	margin-bottom: 10px; 
	padding-bottom: 10px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid #eff5fa; 
	position: absolute; 
	margin-left: -30px;
	margin-top: -47px; 
}

.tab[data-tab="resources"] article .article-links .on {background-position-y: -35px;}


.tab .tabsection article:last-child {border-bottom: 0px!important; margin-bottom: 20px;}

/* Services ======================================================= */

#container[data-page="services"] {
	padding:0px 50px;
	overflow-y: hidden;
} 

/* Pop up ======================================================= */

.pop-up {
	padding: 35px;
	min-height: 140px;
	min-width: 230px;
	position:absolute;
	left: 50%!important;
	top: 50%!important;
	-webkit-transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	background-color: #fff;
	-webkit-border-radius: 8px;
	z-index: 999;
	text-align: center;
}

.pop-up p {white-space:nowrap; }

.overlay {
	z-index: 900; 
	width: 100%; 
	height: 100%; 
	position: absolute; 
	background-color:rgba(102,102,102,0.5);
	top:0!important;
	left:0!important;
}

.hide {
	height: 0px; 
	visibility: hidden;
	opacity: 0;
   position: absolute;
   -webkit-transition: opacity 0.5s, height 0 1s, visibility 0 1s, top 0 1s, left 0 1s ;
}

.hide.show {
   -webkit-transition: opacity 0.5s, height 0, visibility 0, top 0 ;
}

.sync-container {
	background-color: #cccccc;
	width: 100%;
	height: 28px;
	margin-bottom: 21px;
}

#sync-bar {
		background-color: #3fc6e3;
		height:28px;
}

.show100 {height: 100%; visibility:visible; opacity: 1; }

.show {
	height: auto; 
	visibility:visible;
	opacity: 1;
	top:auto;
	left: auto;
}

.prompt,
.progress {
	width: 100%;
	height: 1004px; /* 1024 - 20 */ 
	background-color: rgba(0,0,0,0.8);
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.alert.rotate {
	width: 135px;
	margin: 0 auto 0 auto;
	padding-top: 527px;
	color: #ffffff;
	text-align: left;
	background: url(screen-rotate.png) no-repeat 50% 390px;
	background-size: 110px;
}

.slider {
	opacity: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;}
	
#pagination {
 display: none;
 }
	
/* Seach area =================================================== */

#container[data-page="search"] {
	padding: 40px;
}

.search-head #search-main {
	width:80%;
	height: 36px;
	border: 0px;
	background-color: #eff5fa;
	padding: 0 15px 0 15px;
	margin-bottom: 45px;
	float: left;
	color:#f8a541;
}

.search-head .open-filters {
	width: 37px;
	height: 35px;
	display: block;
	float: right;
	background-image: url(icon-open-filters.png);
	background-size: 37px 70px;
}

.filters {
	-webkit-transition: max-height 0.8s;
}

.search-head .open-filters:focus, .search-head .open-filters:active {
	background-position-y: -35px;
}

.search-head .on {
	background-position-y: -35px;
}

.filters .filter .filter-top {
	display: block; 
	font-weight: bold;
	background-image: url(icon-filter-arrow-down-off.png);
	width: 100%;
	height: 14px;
	background-size: 37px 14px;
	background-repeat: no-repeat;
	background-position-y: 14px;
	background-position-x:right;
	padding: 9px 0 14px 0;
	border-bottom: 2px;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #c7dfe9) ) 100% 0 100% 0;
}
.filters .filter .on {background-image: url(icon-filter-arrow-up-on.png);}

.filters .sector .filter-top {border-top:0px!important;}

.filters .filter .filter-top:active, .filters .filter .filter-top:focus {
	background-image: url(icon-filter-arrow-up-on.png);
} 

.filters .filter .filter-inner {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eff5fa), color-stop(100%,#ffffff));
	border-bottom: 2px;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #c7dfe9) ) 0 0 100% 0;
	-webkit-transition: all 0.8s;
}

.filters .filter .filter-inner ul {padding: 0px; margin: 0px; padding-bottom: 14px;}
.filters .filter .filter-inner ul li {
	padding-top: 20px;
	padding-left: 45px;
	background-image: url(icon-filter-arrow-down-off.png);
	background-position: 12px 25px;
	background-size: 21px 10px;
	background-repeat: no-repeat;
}

.filters .filter .closed {border-bottom: 0px;}
.filters .filter .open {border-bottom: 2px;}
.closed {max-height: 0px;  overflow: hidden; }
.open {max-height: 2000px;margin-bottom: 28px;}

/* Search results */

.results .result .result-top {
	display: block; 
	font-weight: bold;
	margin-top: 20px;
	width: 100%;
	height: 14px;
	padding: 9px 0 14px 0;
	border-bottom: 2px;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #c7dfe9) ) 100% 0 100% 0;
}

.results .issues .result-top {margin-top: 0px;}

.results .result .result-inner {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eff5fa), color-stop(100%,#ffffff));
	border-bottom: 2px;
	-webkit-border-image: -webkit-gradient( linear, 100% 100%, 0 0, from( #fff ), to( #c7dfe9) ) 0 0 100% 0;
	-webkit-transition: all 0.8s;
}

.results .result .result-inner li {
	padding-top: 20px;
	padding-left: 20px;
}

.results .result .result-inner a {
	background-image: url(icon-results-arrow.png);
	background-size: 10px 40px;
	background-repeat: no-repeat;
	padding: 0px 20px 1px 0px;
	background-position: top right;
}

.results .result .result-inner a:focus, .results .result .result-inner a:active {
	background-position-y: -20px;
}

.results .result .result-inner a span {color:#00a6d8; font-style: italic;}

/* CUSTOM CHECK BOX */

.custom-checkbox {
  position: relative;
  display: inline-block;
    float: right;
    margin-right: 8px;

}

.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 0px;
  background-color: #d7e8ef;
}

.custom-checkbox > .box > .tick {
  position: absolute;
  left: 2px;
  top: -2px;
  width: 20px;
  height: 20px;
  font-size: 25px;
  color: #009bc5;
  display: none;
}


.custom-checkbox > .box > .tick:before {
    content: "×";
}

.custom-checkbox > input:checked + .box > .tick {
  display: block;
}

.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.custom-checkbox > input:active + .box {
  background-color: #d7e8ef;
}​

/* Typography =================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  margin-top: 24px;
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 60px;
  font-weight: normal;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
}
h3 {
  margin-bottom: 1em;
  font-size: 20px;
  font-size: 2.1rem;
  line-height: 26px;
}
h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}
h5 {
  font-size: 16px;
  line-height: 21px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}

.tab h3 {color:#13badd; margin-top: 40px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.lighter {color:#00B4DA;}

.lead {
	font-size: 18px; 
	line-height: 22px;
	color:#404041;
	}

p,
ol,
ul,
dl,
address {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 21px;
}
.small {
  font-size: 12px;
  line-height: 14.4px;
  color:#404041;
  font-family: Helvetica;
  margin-top: 15px;
}
ul,
ol {
  margin: 0 0 1.5em 0px;
  padding: 0 0 0 24px;
}
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}
abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a.button {padding:10px; display: inline-block;  text-align: center; min-width: 200px; color: #3fc6e3; border: 2px solid #3fc6e3;}
a.button + a.button {margin-left: 10px;}


/* Colour =================================================== */
a {
  text-decoration: none;
  color: #00265b;
}
a:visited {
}

a:focus {
}

a:active {
  outline: 0;
}

[data-page="landing"] a {
	color: #fff;
}

[data-page="landing"] a:visited {
	color: #fff;
}

[data-page="landing"] a:hover {
	color: #fff;
}

.red {color:#dc5034;}



/* Elements =================================================== */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid #ffffff;
}
img {
  width: 100%;
  height: auto;
  border-width: 0;
  vertical-align: middle;
}

[data-page="news-landing"] .split img {max-height: 160px; width: auto;}

svg:not(:root) {
  overflow: hidden;
}
figure {
  margin-bottom: 1.5em;
}
figure img {
  margin-bottom: 0.375em;
}
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #808080;
}

/* Forms =================================================== */
form {
  margin: 0 0 1.5em 0;
}
form fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
form legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #8c9bab;
  white-space: normal;
}
form legend small {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
form p {
  margin-bottom: 0.75em;
}
form ul {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
form br {
  display: none;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
label input,
label textarea,
label select {
  display: block;
}
input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: #ffffff;
  border: 1px solid #8c9bab;
  color: #000000;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #586879;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}
select {
  width: auto;
  background-color: #ffffff;
  font-size: 13px;
  font-size: 1.3rem;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
}
input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}
.form-inline label {
  display: inline-block;
}
.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.form-search label {
  display: inline-block;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* Tables =================================================== */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0 linear;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}




/* 992px AKA landscape ======================================= */

@media only screen and (min-width: 992px) {

#container {  	
   max-width: 1024px;
   height: 693px;  /* 768 - 55 - 20*/
} 
  
#container[data-page="landing"]{
	background: url(ff-watermark.png) no-repeat 55px 380px;
  	background: url(ff-watermark.png) no-repeat 55px 380px, -webkit-gradient(linear, left top, right bottom, color-stop(0%,#006697), color-stop(26%,#006697), color-stop(100%,#002d5b));
}

#container[data-page="popup"] {
  height: 748px; /* 768 - 20 */ 
  background: rgb(0,55,104);
  opacity: 1;
}

#container[data-page="sync"] {
  height: 748px; /* 768 - 20 */ 
  	background: url(ff-watermark.png) no-repeat 55px 435px #003768;  
}

.pg-body {
	height: 636px;
}
  
section {
	width: 50%;
	float: left;
}
	
.c-left .content {
	padding-left: 55px;
	padding-right: 0;
}
	
.c-right .content {
	padding-left: 0;
	padding-right: 55px;
}

.nav-disc li {
	display: block;
	margin-bottom: 35px;
}	

#container[data-page="news-article"] img, #container[data-page="news-article"] .small {
	float: right;
	width:235px;
}

#container[data-page="news-article"] p, #container[data-page="news-article"] h1, #container[data-page="news-article"] h2 {
	float: left;
	width:595px;
}

#container[data-page="conversations-landing"] .split img {
	position: absolute; 
	top:0; left: 0; 
	/*min-width: 100%;
	height: auto;*/
	z-index: 2;
}



.nav-section {
	font-size: 13px;
	line-height: 15px;
}

/* Tabs ========================================================*/

div.tab {
	height: 613px;
}

.stabs {padding-left: 40px;}

.stabs li {
	display: block;
	float: left; 
	width: 185px; 
	height: 26px; 
	padding-top:8px;
	margin-top: 12px; 
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
}

.stabs li + li {
	border-left: 1px solid #bedae6;
}

.stabs li.active {
	background: url(bg-tab-wide.png); 
	background-repeat: no-repeat;
	background-size: 190px 52px; 
	padding-top: 17px;
	width:190px;
	height: 35px;
	border-left: 0px!important;
	margin-top: 0px;
}



/* Pop up ======================================================= */

.prompt {
	display: none;
}

.slider {
   height: inherit;
   opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .5s linear .5s;	
	margin: 20px 20px 20px 20px;
	background-color: #fff;
	overflow: hidden;
	height: 709px;
}

.swipe-wrap {
	padding:0px;
	margin-top: 100px;
	height: 555px;
	overflow: hidden;
	background-color: #ffffff;	
  position: relative;
}

#container[data-page="popup"],
#container[data-page="sync"] {
	overflow-y: hidden;
}

.swipe-wrap > div {
  float:left;
  position: relative;
  padding: 0 40px 0 40px;
  width: 888px!important;
}

.swipe-wrap > div .left {
	float: left;
	width: 530px;
}

.button-close {
	display: block;
	position: absolute;
	top:40px;
	right:40px;
	width:30px;
	height: 30px;
	background-image: url(icon-close.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
	z-index: 999;
}

.button-close:active, .button-close:focus, .button-close:hover {background-position-y: -30px;}

#pagination {
	position: absolute;
	top:655px;
	left: 50%!important;
	margin-left: -200px;
	width: 400px;
	text-align: center;
	display: block;
}

#pagination em {font-size: 50px; color: #bcd9e5; margin-right: 15px;}
#pagination em.on {color:#00b4da;}

.swipe-wrap > div .left h1 {margin-top: 0px; font-weight: normal; font-size: 32px; line-height: 36px; }
.swipe-wrap > div .left h1.bottom {margin-top: 75px;}
.swipe-wrap > div .left p {margin-bottom: 0px;}
.swipe-wrap > div .left .caption {color:#bfc1c2; padding: 40px; font-family: "Helvetica Neue", Helvetica, Arial;}

.swipe-wrap > div .right {
	float: right;
	width: 280px;
}

.swipe-wrap > div .right p.lighter {margin-bottom: 0px;}
.swipe-wrap > div .right p.large {font-size: 22px; line-height: 26px; margin-top: 0px;}
.swipe-wrap > div .right  .number {font-size: 140px; line-height: 140px; font-family: "Helvetica Neue", Helvetica, Arial; letter-spacing: -10px; }
.swipe-wrap > div .right  .number {letter-spacing: normal;}
.swipe-wrap > div .right .bottom {margin-top: 40px;}
.swipe-wrap > div .right ul {padding: 0 0 0 1.3; list-style: none;}
.swipe-wrap > div .right ul li {font-size: 22px; line-height: 26px; padding-left: 0px;}
.swipe-wrap > div .right ul li:before {
    content: "\2022 ";
    color: #00b4da; 
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0em;
    position: relative;
}




} // 992px
